<!doctype html>
<html lang="en">
    <%- include("../components/head.ejs", { title: "Mini Messaging Board" }) %>
    <body>
        <%- include("../components/header.ejs") %>
        <main>
            <section class="messages">
                <h1>Messages</h1>
                <% if (messages.length) { %>
                    <% for (let index = messages.length - 1; index >= 0; index--) { %>
                        <div class="message-container">
                            <section class="content">
                                <h2 class="name"><%= messages[index].name %></h2>
                                <p class="message"><%= messages[index].message %></p>
                            </section>
                            <div class="open">
                                <a href="/<%= messages[index].id %>">Open</a>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <section class="no-messages">
                        <h2>No messages yet. Be the first to send!</h2>
                    </section>
                <% } %>
            </section>
        </main>
        <%- include("../components/footer.ejs", { year: date.getFullYear() }) %>
    </body>
</html>
