<!doctype html>
<html lang="en">
    <%- include("../components/head.ejs", { title: "Mini Message Board - Message details" }) %>
    <body>
        <%- include("../components/header.ejs") %>
        <main>
            <section class="message-details">
                <h1>Message details</h1>
                <section class="message-detail-container">
                    <div>
                        <h2 class="name"><%= message.name %></h2>
                        <p class="details">
                            Posted on: <%= message.date %>. From: <%= message.location %>.
                        </p>
                    </div>
                    <p><%= message.text %></p>
                </section>
            </section>
        </main>
        <%- include("../components/footer.ejs", { year: date.getFullYear() }) %>
    </body>
</html>
